<div class="card" data-aos="fade-up">
    <div id="utteranc-container" class="card-content">
        <script src = "https://utteranc.es/client.js"
                repo = "puzhiyuan/Blog_talk" 
                issue-term = "pathname" 
                theme = "github-light" 
                crossorigin = "anonymous" 
                async > 
        </script >        
               
    </div>
</div>
